@import "../theme/_theme.scss";

.block-welcome-screen {
  &-content {
    padding-top: 220px;

    &--header {
      font-size: 204px;
    }

    &--sub {
      font-size: 24px;
      font-weight: 400;

      &_link {
        color: $primary;
        font-weight: bold;
      }
    }

    h1 {
      font-family: $header-font;
    }

    height: 100vh;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .block-welcome-screen {
    &-content--header {
      font-size: 114px;
    }
  }
}
