.file-list {
  padding: 10px;

  .MuiListItemSecondaryAction-root {
    right: 0;
  }

  &-item {
    &-info {
      padding-right: 5px;
    }

    &-name {
      font-weight: bold;
      font-size: 14px;
    }

    &-date,
    &-size,
    &-external {
      font-size: 12px;
    }

    &-external {
      display: flex;
      align-items: center;

      &-text {
        display: inline-block;
        margin-right: 3px;
      }
    }
  }
}
